
providers:
  kubernetesIngress:
    publishedService:
      enabled: true
  kubernetesGateway:
    enabled: true

  # # File Provider
  # file:
  #   enabled: true
  #   content: |

service:
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: ${acm_certificate_arn}
    service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
    service.beta.kubernetes.io/aws-load-balancer-attributes: load_balancing.cross_zone.enabled=true
ports:
  web:
    proxyProtocol:
      trustedIPs:
        - ${vpc_cidr}
    forwardedHeaders:
      trustedIPs:
        - ${vpc_cidr}
    # forwardedHeader@file: File Provider에서 정의한 forwardedHeader 미들웨어를 적용
    # middlewares:
    #   - forwardedHeader@file
  websecure:
    targetPort: web
    tls:
      enabled: false
  traefik:
    expose:
      default: true
additionalArguments:
  - "--api.insecure=true"

logs:
  access:
    enabled: true
    format: json
resources:
  requests:
    cpu: 200m
    memory: 256Mi
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70