apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cilium-ingress-status
rules:
- apiGroups: ["networking.k8s.io"]
  resources:
    - ingresses
    - ingresses/status
  verbs:
    - get
    - list
    - watch
    - update
    - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cilium-ingress-status
subjects:
- kind: ServiceAccount
  name: cilium              # kube-system 네임스페이스의 cilium SA
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cilium-ingress-status
